{% extends 'base.html' %} {% block title %} FMS {% endblock %} {% block body %}
<header class="p-3 bg-dark text-white sticky-top">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li class="nav-item">
          <a href="/" class="nav-link active px-2 text-white">Home</a>
        </li>
        <li class="nav-item">
          <a href="/trip" class="nav-link px-2 text-white">Trips</a>
        </li>
        <!-- <li class="nav-item">
          <a href="#" class="nav-link px-2 text-white">Drivers</a>
        </li> -->
        <li class="nav-item">
          <a href="/fleet" class="nav-link px-2 text-white">Vehicles</a>
        </li>
        <!-- <li class="nav-item">
          <a href="#" class="nav-link px-2 text-white">Accounts</a>
        </li> -->
        <li class="nav-item">
          <a href="/employees" class="nav-link px-2 text-white">Employees</a>
        </li>
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a href="/profile" class="nav-link px-2 text-white">Profile</a>
        </li>
        {% endif %}
      </ul>

      <div class="text-end">
        {% if current_user.is_authenticated %}
        <a class="btn btn-outline-light me-2" href="/logout" class="">Logout</a>
        {% else %}
        <a class="btn btn-outline-light me-2" href="/login" class="">Login</a>
        {% endif %}
      </div>
    </div>
  </div>
</header>
{% endblock %}
