{% extends 'base.html' %} {% include 'header.html' %} {% block title %} Home {%
endblock %} {% block body %}
<div class="container">
  <div class="row mt-5">
    <div class="px-4 py-5 my-5 text-center">
      <h1 class="display-5 fw-bold">Welcome to Bus FMS</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
          Inspired by Singapore’s Smart Nation Initiative, this Bus Fleet Management System (FMS) is intended for Private Bus Companies and their employees.
          <br /><br />
          Bus FMS aims to digitalise traditional operations with expectations to improve visibility over the drivers within their company and showcase fleet availability.
        </p>
        <p>
          Contact an <a href="mailto:b33p33p@gmail.com">Administrator</a> to find out more!
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          {%if current_user.is_anonymous %}
          <div class="text-end">
            <a
              class="btn btn-primary btn-lg px-4 gap-3 btn-outline-light me-2"
              href="./login"
              class=""
              >Login</a
            >
          </div>
          {%endif%}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
