{% extends 'base.html' %} {% include 'header.html' %} {% block title %} 404 {%
endblock %} {% block body %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404</title>
  </head>
  <body class="">
    <main class="form-signin w-100 m-auto">
      <br /><h1>you are not authorized to access this page</h1>
      <br />
      <h6>The content you are looking for could not be found.</h6>
    </main>
  </body>
</html>
{% endblock %}
