{% extends 'base.html' %} {% include 'header.html' %} {% block title %} Trip {%
endblock %} {% block body %}

<div class="container">
  <div class="row">
    <main class="col-md-12 ms-sm-auto col-lg-12 px-md-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-2 mt-5 mb-3 border-bottom"
      >
        <h1 class="h2 fw-bold">Trips</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <form action="{{url_for('tripSearch')}}" method="POST" class="m-2">
            <div class="input-group w-100">
              <a
                href="/trip"
                class="btn btn-outline-secondary"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Clear Search"
              >
                X
              </a>
              {{searchformTrip.hidden_tag()}} {{
              searchformTrip.searched(class="form-control") }}
              {{searchformTrip.submit(class="btn btn-success")}}
            </div>
          </form>
          <button
            type="button"
            class="btn btn-sm btn-secondary m-2"
            data-bs-toggle="modal"
            data-bs-target="#addTrip"
          >
            Add Trip
          </button>
        </div>
      </div>
      {% with messages = get_flashed_messages() %} {% if messages %} {% for
      message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
        {{message}}
      </div>
      {% endfor %} {% endif %} {% endwith %}
      <div class="table-responsive">
        <table
          class="table table-striped table-sm table-hover table-dark text-center"
        >
          <thead>
            <tr>
              <th>Trip ID</th>
              <th>Driver Name</th>
              <th>Bus Plate Number</th>
              <th>Origin</th>
              <th>Destination</th>
              <th>Start Time</th>
              <th>End Time</th>
              <th>Trip Status</th>
              <!-- <th>Disabled</th> -->
              <th></th>
            </tr>
          </thead>
          <tbody>
            <!-- Search -->
            {% if posts != 0 %} {% for post in posts %} {% for name in drivername %} {% for plate in vehicleplate %} 
            <tr>
              {% if post.DriverID == name.Driver.DriverId %}
              {% if post.VehicleID == plate.Fleet.VehicleId  %}
              <td>{{post.TripID}}</td>
              <td>{{name.Driver.Employee.FullName}}</td>
              <td>{{plate.Fleet.BusNumberPlate}}</td>
              <td>{{post.Origin}}</td>
              <td>{{post.Destination}}</td>
              <td>{{post.StartTime}}</td>
              <td>{{post.EndTime}}</td>
              <td>{{post.TripStatus.value}}</td>
              <td>{{post.Disabled}}</td>
              <td>
                <a
                  href="/trip/update/{{post.TripID}}"
                  class="btn btn-warning btn-xs"
                  data-bs-toggle="modal"
                  data-bs-target="#modaledit{{post.TripID}}"
                  >Edit</a
                >
                <a
                  href="/trip/delete/{{post.TripID}}"
                  class="btn btn-secondary btn-xs"
                  onclick="return confirm('Confirm?')"
                  >{% if post.Disabled == 1 %} Enable {% else %} Disable{%
                  endif%}</a
                >
                {% endif %}
                {% endif %}
                {% endfor %}
                {% endfor %}
                {% endfor %}
                {% endif %}
            <!-- View table -->
            {% for row in trip %} {% for name in drivername %} {% for plate in vehicleplate %} 
            <tr>
              {% if row.DriverID == name.Driver.DriverId %}
              {% if row.VehicleID == plate.Fleet.VehicleId  %}
              <td>{{row.TripID}}</td>
              <td>{{name.Driver.Employee.FullName}}</td>
              <td>{{plate.Fleet.BusNumberPlate}}</td>
              <td>{{row.Origin}}</td>
              <td>{{row.Destination}}</td>
              <td>{{row.StartTime}}</td>
              <td>{{row.EndTime}}</td>
              <td>{{row.TripStatus.value}}</td>
              <!-- <td>{{row.Disabled}}</td> -->
              <td>
                <a
                  href="/trip/update/{{row.TripID}}"
                  class="btn btn-warning btn-xs"
                  data-bs-toggle="modal"
                  data-bs-target="#modaledit{{row.TripID}}"
                  >Edit</a
                >
                <a
                  href="/trip/delete/{{row.TripID}}"
                  class="btn btn-secondary btn-xs"
                  onclick="return confirm('Confirm?')"
                  >Delete
                  <!-- {% if row.Disabled == 1 %} Enable {% else %} Disable{%
                  endif%} -->
                </a>
              </td>
            </tr>
            <!-- Modal Edit Trip -->
            <div id="modaledit{{row.TripID}}" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Update Information</h4>
                  </div>
                  <div class="modal-body">
                    <form action="{{url_for('tripUpdate')}}" method="POST">
                      <div class="form-group text-start">
                        <input
                          type="hidden"
                          class="form-control"
                          name="TripID"
                          value="{{row.TripID}}"
                        />
                        <input
                          type="hidden"
                          class="form-control"
                          name="DriverID"
                          value="{{row.DriverID}}"
                        />
                        <input
                          type="hidden"
                          class="form-control"
                          name="VehicleID"
                          value="{{row.VehicleID}}"
                        />
                        {{tripupdate.hidden_tag()}}
                        {{tripupdate.Origin.label(class="form-label mt-3")}}
                        {{tripupdate.Origin(class="form-control",
                        value=row.Origin)}}
                        {{tripupdate.Destination.label(class="form-label
                        mt-3")}} {{tripupdate.Destination(class="form-control",
                        value=row.Destination)}}
                        {{tripupdate.StartTime.label(class="form-label mt-3")}}
                        {{tripupdate.StartTime(class="form-control",
                        value=row.StartTime)}}
                        {{tripupdate.EndTime.label(class="form-label mt-3")}}
                        {{tripupdate.EndTime(class="form-control",
                        value=row.EndTime)}}
                        {{tripupdate.TripStatus.label(class="form-label mt-3")}}
                        {{tripupdate.TripStatus(class="form-control",
                        value=row.TripStatus)}}
                        <br />
                        {{tripupdate.submit(class="btn btn-primary")}}
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}
            {% endfor %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </div>
  <!-- Modal add Trip -->
  <div id="addTrip" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add Trip</h4>
        </div>
        <div class="modal-body">
          <form action="/trip/tripinsert" method="POST">
            <div class="form-group text-start">
              {{ formTrip.hidden_tag() }} {{
              formTrip.EmployeeID.label(class="form-labelmt-3")}} {{
              formTrip.EmployeeID(class="form-control") }} {{
              formTrip.VehicleID.label(class="form-label mt-3") }} {{
              formTrip.VehicleID(class="form-control ")}} {{
              formTrip.Origin.label(class="form-label mt-3") }} {{
              formTrip.Origin(class="form-control ")}} {{
              formTrip.Destination.label(class="form-label mt-3") }} {{
              formTrip.Destination(class="form-control ")}}{{
              formTrip.StartTime.label(class="form-label mt-3") }} {{
              formTrip.StartTime(class="form-control ")}}{{
              formTrip.EndTime.label(class="form-label mt-3") }} {{
              formTrip.EndTime(class="form-control ")}}{{
              formTrip.TripStatus.label(class="form-label mt-3") }} {{
              formTrip.TripStatus(class="form-control ")}}
              <br />
              {{formTrip.submit(class="btn btn-secondary")}}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
