{% extends 'base.html' %} {% include 'header.html' %} {% block title %} Account Locked {%
endblock %} {% block body %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account Locked</title>
  </head>
  <body class="">
    <main class="form-signin w-100 m-auto">
      <h1 class="display-5 my-5">Account Is Locked</h1>
      <h5>Your account has been locked after too many invalid attempts.</h5>
      <h6>Please contact your Manager or IT Administrator.</h6>
      <hr class="my-4" />
      <small class="text-muted">
        Return to <a href="/login">Login</a>.
      </small>
    </main>
  </body>
</html>
{% endblock %}
