.container {
    font-family: arial;
    font-size: 24px;
    margin: 25px;
    width: auto;
    height: auto;
    /* outline: dashed 1px black; */
    /* Setup */
    /* position: relative; */
  }
  
  .child {
    /* width: 50px;
    height: 50px; */
    /* background-color: red; */
    /* Center vertically and horizontally */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }