{% extends 'base.html' %} {% include 'header.html' %} {% block title %}
Employees {% endblock %} {% block body %}

<div class="container">
  <div class="row mt-5">
    <h2 class="">Manage <b>Employees</b></h2>
  </div>
  <hr />
  <div class="px-3 py-2 my-3">
    <div class="container d-flex flex-wrap justify-content-center">
      <!-- Search bar -->
      <form
        action="{{url_for('employeesearch')}}"
        method="POST"
        class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto"
      >
        <div class="input-group w-100">
          {{searchform.hidden_tag()}} {{
          searchform.searched(class="form-control") }}
          {{searchform.submit(class="btn btn-outline-success")}}
        </div>
      </form>

      <div class="text-end order-md-last d-flex flex-row-reverse">
        <button
          type="button"
          class="btn btn-primary align-end"
          data-bs-toggle="modal"
          data-bs-target="#addEmployee"
        >
          Add New Employees
        </button>
      </div>
    </div>
  </div>
  <div class="col md-12">
    <div class="mt-3">
      <div class="container text-center">
        {% with messages = get_flashed_messages() %} {% if messages %} {% for
        message in messages %}
        <div
          class="alert alert-success alert-dismissible fade show"
          role="alert"
        >
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
          {{message}}
        </div>
        {% endfor %} {% endif %} {% endwith %}
        <table class="table table-hover table-dark">
          <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Contact Number</th>
            <th></th>
          </tr>
          {% if posts != 0 %}
          {% for post in posts %}
          <tr>
            <td>{{post.EmployeeId}}</td>
            <td>{{post.FullName}}</td>
            <td>{{post.Email}}</td>
            <td>{{post.ContactNumber}}</td>
            <td>
              <a href="/update/{{post.EmployeeId}}" 
              class="btn btn-warning btn-xs"
              data-bs-toggle="modal"
              data-bs-target="#modalview{{post.EmployeeId}}">View</a>
              <a
                href="/delete/{{post.EmployeeId}}"
                class="btn btn-danger btn-xs"
                onclick="return confirm('Are You Sure To Delete?')"
                >Delete</a
              >
            </td>
          </tr>
          <!-- Modal View Employees -->
          <div id="modalview{{post.EmployeeId}}" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">View Information</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group text-start">
                      <p>Employee Id: {{post.EmployeeId}}</p>
                      <p>Full Name: {{post.FullName}}</p>
                      <p>Email: {{post.Email}}</p>
                      <p>Contact Number: {{post.ContactNumber}}</p>
                      <p>Date of Birth: {{post.DOB}}</p>
                      <p>Role: {{post.Role.value}}</p>
                    </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          {% endif %}
          {% for row in employees %}
          <tr>
            <td>{{row.EmployeeId}}</td>
            <td>{{row.FullName}}</td>
            <td>{{row.Email}}</td>
            <td>{{row.ContactNumber}}</td>
            <td>
              <a
                href="/employees/view/{{row.EmployeeId}}"
                class="btn btn-warning btn-xs"
                data-bs-toggle="modal"
                data-bs-target="#modalview{{row.EmployeeId}}"
                >View</a
              >
              <a
                href="/employees/delete/{{row.EmployeeId}}"
                class="btn btn-danger btn-xs"
                onclick="return confirm('Confirm Delete?')"
                >Delete</a
              >
            </td>
          </tr>
          <!-- Modal View Employees -->
          <div id="modalview{{row.EmployeeId}}" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">View Information</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group text-start">
                      <p>Employee Id: {{row.EmployeeId}}</p>
                      <p>Full Name: {{row.FullName}}</p>
                      <p>Email: {{row.Email}}</p>
                      <p>Contact Number: {{row.ContactNumber}}</p>
                      <p>Date of Birth: {{row.DOB}}</p>
                      <p>Role: {{row.Role.value}}</p>
                    </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
  <!-- Modal add Employees -->
  <div id="addEmployee" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add Employee</h4>
        </div>
        <div class="modal-body">
          <form action="/employees/insert" method="POST">
            <div class="form-group text-start">
              {{ form.hidden_tag() }} 
              {{ form.FullName.label(class="form-labelmt-3")}} {{ form.FullName(class="form-control") }} {{
              form.Email.label(class="form-label mt-3") }} {{
              form.Email(class="form-control ")}} {{
              form.ContactNumber.label(class="form-label mt-3") }} {{
              form.ContactNumber(class="form-control ")}} {{
              form.DOB.label(class="form-label mt-3") }} {{
              form.DOB(class="form-control ")}} {{
              form.Role.label(class="form-label mt-3") }} {{
              form.Role(class="form-control ")}} {{
              form.Password.label(class="form-label mt-3") }} {{
              form.Password(class="form-control ")}}
              <br />
              {{form.submit(class="btn btn-secondary")}}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
