{% extends 'base.html' %} {% include 'header.html' %} {% block title %} Home {%
endblock %} {% block body %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body class="">
    <main class="form-signin w-100 m-auto">
      <h1 class="display-5 my-5">Login</h1>
      <form action="/login" method="POST">
        {{form.hidden_tag()}}
        <div class="input-group mb-3">
          <!-- <span class="input-group-text" id="usernameID">Username</span> -->
          <!-- <input
          type="text"
          class="form-control"
          placeholder=""
          aria-label="Username"
          aria-describedby="usernameID"
        /> -->
          {{form.Email.label(class="input-group-text")}}
          {{form.Email(class="form-control")}}

        </div>
        <div class="input-group mb-3">
          <!-- <span class="input-group-text" id="password">Password</span>
          <input
            type="text"
            class="form-control"
            placeholder=""
            aria-label="password"
            aria-describedby="passwordID"
          /> -->
          {{form.password.label(class="input-group-text")}}
          {{form.password(class="form-control")}}
        </div>
        <!-- <button class="w-100 btn btn-md btn-primary" type="submit">
          Login
        </button> -->
        {{form.submit(class="w-100 btn btn-md btn-primary")}}
        <hr class="my-4" />
        <small class="text-muted"
          >Click here to <a href="./reset">Forget Password</a>.
        </small>
      </form>
    </main>
  </body>
</html>
{% endblock %}
