{% extends 'base.html' %} {% include 'header.html' %} {% block title %} Trip {%
endblock %} {% block body %}

<div class="container">
  <div class="row mt-5">
    <h2 class="">Manage <b>Trip</b></h2>
  </div>
  <hr />
  <div class="px-3 py-2 my-3">
    <div class="container d-flex flex-wrap justify-content-center">
      <!-- Search bar -->
      <form
        action="{{url_for('tripSearch')}}"
        method="POST"
        class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto"
      >
        <div class="input-group w-100">
          {{searchformTrip.hidden_tag()}} {{
          searchformTrip.searched(class="form-control") }}
          {{searchformTrip.submit(class="btn btn-outline-success")}}
        </div>
      </form>
      <div class="text-end order-md-last d-flex flex-row-reverse">
        <button
          type="button"
          class="btn btn-primary align-end"
          data-bs-toggle="modal"
          data-bs-target="#addTrip"
        >
          Add New Trip
        </button>
      </div>
    </div>
  </div>
  <div class="col md-12">
    <div class="mt-3">
      <div class="container text-center">
        {% with messages = get_flashed_messages() %} {% if messages %} {% for
        message in messages %}
        <div
          class="alert alert-success alert-dismissible fade show"
          role="alert"
        >
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
          {{message}}
        </div>
        {% endfor %} {% endif %} {% endwith %}
        <table class="table table-hover table-dark">
          <tr>
            <th>Trip ID</th>
            <th>Employee ID</th>
            <th>Vehicle ID</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Trip Status</th>
            <th></th>
          </tr>
          {% if posts != 0 %} {% for post in posts %}
          <tr>
            <td>{{post.TripID}}</td>
            <td>{{post.EmployeeID}}</td>
            <td>{{post.VehicleID}}</td>
            <td>{{post.Origin}}</td>
            <td>{{post.Destination}}</td>
            <td>{{post.StartTime}}</td>
            <td>{{post.EndTime}}</td>
            <td>{{post.TripStatus}}</td>
            <td>
              <a
                href="/update/{{post.TripID}}"
                class="btn btn-warning btn-xs"
                data-bs-toggle="modal"
                data-bs-target="#modaledit{{post.TripID}}"
                >Edit</a
              >
              <a
                href="/delete/{{post.TripID}}"
                class="btn btn-danger btn-xs"
                onclick="return confirm('Are You Sure To Delete?')"
                >Delete</a
              >
            </td>
          </tr>
          {% endfor %} {% endif %} {% for row in trip %}
          <tr>
            <td>{{row.TripID}}</td>
            <td>{{row.EmployeeID}}</td>
            <td>{{row.VehicleID}}</td>
            <td>{{row.Origin}}</td>
            <td>{{row.Destination}}</td>
            <td>{{row.StartTime}}</td>
            <td>{{row.EndTime}}</td>
            <td>{{row.TripStatus.value}}</td>
            <td>
              <a
                href="/trip/update/{{row.TripID}}"
                class="btn btn-warning btn-xs"
                data-bs-toggle="modal"
                data-bs-target="#modaledit{{row.TripID}}"
                >Edit</a
              >
              <a
                href="/trip/delete/{{row.TripID}}"
                class="btn btn-danger btn-xs"
                onclick="return confirm('Confirm Delete?')"
                >Delete</a
              >
            </td>
          </tr>
          <!-- Modal Edit Trip -->
          <div id="modaledit{{row.TripID}}" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Update Information</h4>
                </div>
                <div class="modal-body">
                  <form action="{{url_for('tripUpdate')}}" method="POST">
                    <div class="form-group text-start">
                      <label class="form-label mt-3">Employee ID</label>
                      <input
                        type="hidden"
                        class="form-control"
                        name="TripID"
                        value="{{row.TripID}}"
                      />
                      <input
                        type="number"
                        class="form-control"
                        name="EmployeeID"
                        value="{{row.EmployeeID}}"
                      />
                      <label class="form-label mt-3">Vehicle ID</label>
                      <input
                        type="number"
                        class="form-control"
                        name="VehicleID"
                        value="{{row.VehicleID}}"
                      />
                      <label class="form-label mt-3">Origin</label>
                      <input
                        type="text"
                        class="form-control"
                        name="Origin"
                        value="{{row.Origin}}"
                      />
                      <label class="form-label mt-3">Destination</label>
                      <input
                        type="text"
                        class="form-control"
                        name="Destination"
                        value="{{row.Destination}}"
                      />
                      <label class="form-label mt-3">Start Time</label>
                      <input
                        type="datetime"
                        class="form-control"
                        name="Start Time"
                        value="{{row.StartTime}}"
                      />
                      <label class="form-label mt-3">End Time</label>
                      <input
                        type="datetime"
                        class="form-control"
                        name="End Time"
                        value="{{row.EndTime}}"
                      />
                      <label class="form-label mt-3">Trip Status</label>
                      <input
                        type="select"
                        class="form-control"
                        name="TripStatus"
                        value="{{row.TripStatus.value}}"
                      />
                      <br />
                      <button class="btn btn-primary" type="submit">
                        Update Trip
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
  <!-- Modal add Trip -->
  <div id="addTrip" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add Trip</h4>
        </div>
        <div class="modal-body">
          <form action="/trip/tripinsert" method="POST">
            <div class="form-group text-start">
              {{ formTrip.hidden_tag() }} {{
              formTrip.EmployeeID.label(class="form-labelmt-3")}} {{
              formTrip.EmployeeID(class="form-control") }} {{
              formTrip.VehicleID.label(class="form-label mt-3") }} {{
              formTrip.VehicleID(class="form-control ")}} {{
              formTrip.Origin.label(class="form-label mt-3") }} {{
              formTrip.Origin(class="form-control ")}} {{
              formTrip.Destination.label(class="form-label mt-3") }} {{
              formTrip.Destination(class="form-control ")}}{{
              formTrip.StartTime.label(class="form-label mt-3") }} {{
              formTrip.StartTime(class="form-control ")}}{{
              formTrip.EndTime.label(class="form-label mt-3") }} {{
              formTrip.EndTime(class="form-control ")}}{{
              formTrip.TripStatus.label(class="form-label mt-3") }} {{
              formTrip.TripStatus(class="form-control ")}}
              <br />
              {{formTrip.submit(class="btn btn-secondary")}}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
