{% extends 'base.html' %} {% include 'header.html' %} {% block title %} Reset Success {%
endblock %} {% block body %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Success</title>
  </head>
  <body class="">
    <main class="form-signin w-100 m-auto">
      <h1 class="display-5 my-5">Reset Success</h1>
      <h4>Your password has been reset successfully.</h4>
      <hr class="my-4" />
      <small class="text-muted">
        Return to <a href="./login">Login</a>.
      </small>
    </main>
  </body>
</html>
{% endblock %}
